body {
   background: black;
   text-align: center;
   margin: 0 auto;
   color: white;
   font-size: 10rem;
   width: 100%;
   font-family: sans-serif;
}
h1 {
   font-size: 70px;
}

h3{
   font-size: 40px;
}

h4 {
   font-size:40px;
}
input {
   margin: 40px 0px 0px 0px;
   border: 7px solid white;
   border-radius: 20px;
   font-size: 40px;
   font-family: sans-serif;
   color: white;
   background-color: black;
   margin: 0 auto;
   width: 250px;
   height: 80px;
   position: relative;
   top: 250px;
   left: 50px;
}

section {
   clear: both;
}

#gameboard {
   /*background: red;*/
   margin: auto;
   width: 40%;
   /*width: 40%;*/
   /*width: 31.2em;
   width: 31.2em;
   */
   /*border: 3px solid white;*/
}

.cell {
   border: white solid 1px;
   width: 10rem;
   height: 10rem;
   float: left;
   /*font-size: 1rem;*/
}

.row {
   /*box-sizing: border-box;*/
}
